*{
  margin: 0;
  padding: 0;
  font-family:sans-serif;
}
.main-page{
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  background: linear-gradient(to right , #9c27b0 , #8ecdff);
}
/* ------------------Nav-Bar---------------------- */
nav{
  width: 80%;
  position: sticky;
  margin: 20px auto;
  z-index: 1;
  display: flex;
  align-items: center;
}
.logo{
  flex-basis: 20%;

}

.logo img{
   width: 150px;
}
.nav-links{
  flex: 1;
  text-align: right;
}
.nav-links ul li{
  list-style: none;
  display: inline-block;
  margin: 0 20px;
}
.nav-links ul li a{
  text-decoration: none;
  color: #fff;
}
/*---------------------Page-Info--------------------- */
.info{
  width: 1000px;
  height: 1000px;
  position: absolute;
  top: 50%;
  left: -10%;
  transform: translateY(-50%);
}
#circle{
  width: 1000px;
  height: 1000px;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  transform: rotate(0deg);
  transition:1s;

}
.feat img{
  width: 70px;
}
.feat{
  position: absolute;
  display: flex;
  color: #fff;
}
.feat div{
  margin-left:30px;
}
.feat div p{
  margin-top: 8px;
}
.one{
  top:450px;
  right:50px;
}
.two{
  top:150px;
  left: 350px;
  transform:rotate(-90deg);
}
.three{
  bottom:450px;
  left: 50px;
  transform:rotate(-180deg);
}
.four{
  bottom:130px;
  right:350px;
  transform:rotate(-270deg);
}
.mobile{
  width: 190px;
  position: absolute;
  top: 52%;
  left: 35%;
  transform: translateY(-50%);
  z-index: 1;
}
.controls{
  position: absolute;
  right: 10%;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}
.controls h3{
  margin: 15px 0;
  color: #fff;
}
#upBtn{
  width: 15px;
  cursor: pointer;
}
#downBtn{
  width: 15px;
  cursor: pointer;
  transform: rotate(180deg);
}
.overLay{
  width: 0;
  height: 0;
  border-top: 500px solid #fff;
  border-right: 500px solid transparent;
  border-bottom: 500px solid white;
  border-left: 500px solid white;
  position: absolute;
  /* left: 0;
  top: 0; */
}
.follow{
  color:black;
  font-weight: 100px;
  text-align: right;
  position: absolute;
  top:94%;
  left: 80%;
}
.follow:hover a{
  color: red;
}
